 <mat-card>
         <h1>Sign up</h1>
         <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
           <div class="example-container">
             <mat-form-field>
               <input matInput placeholder="email" [(ngModel)] = "email"
                                name = "email"
                                required #spy
                                #temp = "ngModel">
               <mat-error *ngIf="!(temp.valid || temp.pristine)">
                 title is required
               </mat-error>                        
             </mat-form-field>
             <br>
             <mat-form-field>
                 <input matInput placeholder="password" [(ngModel)] = "password"
                                  name = "password"
                                  type="password"
                                  required #spy
                                  #temp = "ngModel">
                 <mat-error *ngIf="!(temp.valid || temp.pristine)">
                     author is required
                 </mat-error>                        
               </mat-form-field>
         
             
             <div >
                 <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">Sign up</button>
             </div>
             
           </div>
         </form>
         </mat-card>